[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.0"
psycopg2-binary = "*"
django-environ = "*"
django-extensions = "*"
django-on-heroku = "*"
gunicorn = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
